  <div class="logo">
    <a href="../page/main.html"><img src="../../resources/images/logo_d.png" alt="로고" id="logo"></a>
  </div>
  <div class="right">
    <form class="srh_box">
      <input type="search" placeholder="검색" id="searchbox">
      <button aria-label="검색">
        <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
          stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" />
        </svg>
      </button>
      <label for="searchbox"></label>
    </form>
    <div class="info_box">
      <div class="themechg">
        <div class="tchg_ck">
          <input type="checkbox" id="themeMode">
          <label for="themeMode"><span>테마</span></label>
        </div>         
      </div>
      <div class="ib_img">
        <ul class="ib_list">
          <li><a href="./../login/index.html">로그인</a></li>
          <li><a href="./../login/join.html">회원가입</a></li>
        </ul>
      </div>
    </div>
  </div>